<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <section class="mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3> List of Student</h3>
        </div>
        <br>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-lable" style="text-align: right;">Search</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
          </div>
          <div class="col-sm-2">
            <input type="button" (click)="searchKeyword()" value="Search" class="btn btn-success">
          </div>
        </div> 
        <div class="card-content">
          <div class="card-body">
            <ngx-datatable id="SaleList" #tableResponsive class="bootstrap core-bootstrap" [columnMode]="columnMode.force"
            [headerHeight]="20" [footerHeight]="45" [rowHeight]="50" [rows]="rows"
            (page)="serverSideSetPage($event)" [count]="page.count" [offset]="page.offset"
            [limit]="page.limit" [externalPaging]="true">

            <ngx-datatable-column name="#" [width]="20">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{rowIndex + 1}}</span>
              </ng-template>
            </ngx-datatable-column>
           

            <ngx-datatable-column name="Student Name" [width]="150">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{row.studentName}}</span>
              </ng-template>
            </ngx-datatable-column >

            <ngx-datatable-column  name="Roll" [width]="150">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{row.roll}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="Class" [width]="150">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{row.class}}</span>
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column  name="Action" [width]="150">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <button type="button"><i class="fa fa-pencil" [routerLink]="['/student-edit',row.studentId]"></i></button>
                <button type="button" (click)="StudentDelete(row)"><i class="fa fa-trash"></i></button> 
              </ng-template>
            </ngx-datatable-column> 
          </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner> 